/*ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
  color: red;
}

/* part1
p {
  color:red
}
  */
 
  /* part 2
note {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
  color: red;
} */

/* Write your CSS below, don't change the rules above. */

#id-selector-demo {
  color:green;
  font: bold;
}

li[value="4"] {
  color:blue
}

* {
  text-align: center;
}